:root {
  --primary-text-color: #212121;
  --additional-text-color: #757575;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --additional-accent-color: #ffffff;
  --mailto-tel-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #e5e5e5;
  --additional-background-color: #f5f4fa;
  --futer-background-color: #2f303a;
}
/* body */
body {
  font-family: 'Roboto', 'Sans Serif';
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

/* Nav */
/* Logo */
.header {
  background-color: var(--additional-accent-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
.header > .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
  padding-bottom: 25px;
  outline: 2px solid tomato;
}
.header-logo {
  font-family: 'Raleway', 'Sans Serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: block;
  margin-right: 93px;
}
.first-word {
  color: var(--accent-color);
}
.second-word {
  color: var(--logo-text-color);
}
.third-word {
  color: var(--additional-accent-color);
}
.header-nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-item + .header-item {
  margin-left: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
}
.header-nav .header-link {
  color: inherit;
}
.header .header-link:hover,
.header .header-link:focus,
.header .active {
  color: var(--accent-color);
}
.header-list-contact.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.header-list-contact .header-link {
  color: var(--additional-text-color);
}

/* Hero */
.hero {
  background-color: var(--futer-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: var(--additional-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero .btn {
  background-color: var(--accent-color);
  color: var(--additional-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 31px;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* section features */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.feature-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.features-list.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.feature-text {
  font-weight: 400;
  color: var(--additional-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
.feature-item {
  padding-left: 15px;
  padding-right: 15px;
}
/* directions */
.directions-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
.directions .list-directions {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.container .list-directions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.directions {
  padding-bottom: 94px;
}
/* team */
.team {
  background-color: var(--additional-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.team .cards {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.card {
  background-color: var(--additional-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}
.team .position {
  font-weight: 400;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  display: block;
}
.container .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.card img {
  margin-bottom: 30px;
}
/* footer */
footer {
  background-color: var(--futer-background-color);
}
address .list {
  list-style: none;
}
footer .item {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
footer .item:hover,
footer .item:focus {
  color: var(--accent-color);
}
.item.post {
  color: var(--additional-accent-color);
}
.item.contact {
  color: var(--mailto-tel-text-color);
}
/* page portfolio */
/* filters */
.filters .list {
  list-style: none;
}
.filters button {
  font-family: Roboto, Sans Serif;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--additional-background-color);
  cursor: pointer;
}
.filters button:hover,
.filters button:focus {
  background-color: var(--accent-color);
  color: var(--additional-accent-color);
}
/* projects */
.projects .list {
  list-style: none;
}
.projects a {
  text-decoration: none;
}
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--additional-text-color);
}
.project-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
