:root {
  --primary-text-color: #212121;
  --additional-text-color: #757575;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --additional-accent-color: #ffffff;
  --mailto-tel-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #e5e5e5;
  --additional-background-color: #f5f4fa;
  --futer-background-color: #2f303a;
}
/* ---------------BODY----------------- */
body {
  font-family: 'Roboto', 'Sans Serif';
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.btn {
  cursor: pointer;
  border-radius: 4px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------HEDER------------------ */
.header {
  background-color: var(--additional-accent-color);
}
.header > .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
  font-family: 'Raleway', 'Sans Serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: block;
  margin-right: 93px;
}
.first-word {
  color: var(--accent-color);
}
.second-word {
  color: var(--logo-text-color);
}
.third-word {
  color: var(--additional-accent-color);
}
.header-list-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-item + .header-item {
  margin-left: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
}
.header-nav .header-link {
  color: inherit;
}
.header .header-link:hover,
.header .header-link:focus,
.header .active {
  color: var(--accent-color);
}
.header-list-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.header-list-contact .header-link {
  color: var(--additional-text-color);
}
/* ---------------HERO----------------- */
.hero {
  background-color: var(--futer-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: var(--additional-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero .btn {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--additional-accent-color);
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 31px;
  margin-left: auto;
  margin-right: auto;
}
/* ---------------SECTION FEATURES----------------- */
.features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.feature-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  padding-left: 0;
  padding-right: 0;
}
.feature-text {
  font-weight: 400;
  color: var(--additional-text-color);
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
}
.feature-item:not(:last-child) {
  padding-right: 30px;
}
/* ---------------SECTION DIRECTIONS----------------- */
.directions {
  padding-top: 47px;
  padding-bottom: 94px;
}
.directions-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
.directions-list.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  padding-left: 0;
  padding-right: 0;
}
.direction-item:not(:last-child) {
  padding-right: 30px;
}
/* ---------------SECTION TEAM----------------- */
.team {
  background-color: var(--additional-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-cards-list.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  padding-left: 0;
  padding-right: 0;
}
.team-card:not(:last-child) {
  margin-right: 30px;
}
.team-card {
  background-color: var(--additional-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.team-position {
  font-weight: 400;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  display: block;
}
/* ---------------FOOTER----------------- */
.footer {
  background-color: var(--futer-background-color);
}
.footer > .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  display: block;
  font-family: 'Raleway', 'Sans Serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address-post,
.footer-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-address-post {
  color: var(--additional-accent-color);
}
.footer-address-link {
  color: var(--mailto-tel-text-color);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}
/* ---------------PAGE PORTFOLIO----------------- */
/* ---------------SECTION PORTFOLIO----------------- */
.portfolio {
  background-color: var(--primary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio .container {
  width: 1170px;
  padding-left: 0;
  padding-right: 0;
}
.filters-list.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--additional-background-color);
}
.filter-item:hover,
.filter-item:focus {
  background-color: var(--accent-color);
  color: var(--additional-accent-color);
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
/* projects */
.projects .list {
  list-style: none;
}
.projects a {
  text-decoration: none;
}
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--additional-text-color);
}
.project-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
